<!-- LOADERS START -->
<div fxLayout="column" fxFlexFill fxLayoutAlign="center center" *ngIf="loading && !submitted">
  <mat-progress-spinner mode="indeterminate" diameter="30" strokeWidth="4"></mat-progress-spinner>
</div>
<!-- LOADERS END -->
  
<div fxLayout="row" fxLayoutAlign="center start" ngClass.gt-sm="padding" class="mat-typography">
  <div fxLayout="column" fxFlex="85" fxFlex.lt-md="100" fxLayoutGap="10px"  *ngIf="!loading || submitted"  >

    <!-- BACK AND TITLE START -->
    <div ngClass.lt-md="padding no-padding-bottom">
      <div fxLayoutAlign="space-between start" fxLayout="row">
        <h3 fxLayout="row" fxLayoutAlign="start center" class="no-margin-bottom">
            <button mat-icon-button (click)="goBack()" matTooltip="Voltar"><mat-icon>arrow_back</mat-icon></button> {{title}}
        </h3>
      </div>
    </div>
    <!--BACK AND TITLE END -->  

    <!-- CONTENT START -->
    <div fxLayout="column" fxLayoutGap="10px" >
      <div ngClass.gt-sm="mat-elevation-z1 rounded-border">
        <mat-card>
          <mat-card-content>
            <!-- CREATE AND EDIT FORM START -->
            <form #itemForm="ngForm">
              <!-- ADDRESS START -->
              <mat-card-title-group>
                <mat-card-subtitle>Localização</mat-card-subtitle>
              </mat-card-title-group>
              <div fxLayout="row" fxFlexFill>
                <div fxFlex="40px" fxHide.lt-md="true">
                  <p><mat-icon>place</mat-icon></p>
                </div>
                <div fxFlex>
                  <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="10px">                        
                    <mat-form-field fxFlex="100">
                      <input matInput placeholder="CEP" [(ngModel)]="item.zipcode" name="zipcode" required>
                    </mat-form-field>

                    <mat-form-field fxFlex="calc(50%-10px)">
                      <input matInput placeholder="Endereço" [(ngModel)]="item.address" name="address" required>
                    </mat-form-field>
                    <mat-form-field fxFlex="calc(50%-10px)">
                      <input matInput placeholder="Número" [(ngModel)]="item.number" name="number" required>
                    </mat-form-field>

                    <mat-form-field fxFlex="calc(50%-10px)">
                        <input matInput placeholder="Complemento" [(ngModel)]="item.complement" name="complement">
                    </mat-form-field>
                    <mat-form-field fxFlex="calc(50%-10px)">
                        <input matInput placeholder="Bairro" [(ngModel)]="item.neighborhood" name="neighborhood" required>
                    </mat-form-field>

                    <mat-form-field fxFlex="calc(50%-10px)">
                        <input matInput placeholder="Cidade" [(ngModel)]="item.city" name="city" required>
                    </mat-form-field>
                    <mat-form-field fxFlex="calc(50%-10px)">
                        <input matInput placeholder="Estado" [(ngModel)]="item.state" name="state" required>
                    </mat-form-field>
                                          
                  </div>
                </div>
              </div> 
              <!-- ADDRESS END -->
              
              <!-- CONTACT START -->
              <mat-card-title-group>
                <mat-card-subtitle>Contato</mat-card-subtitle>
              </mat-card-title-group>
              <div fxLayout="row" fxFlexFill>
                <div fxFlex="40px" fxHide.lt-md="true">
                  <p><mat-icon>email</mat-icon></p>
                </div>
                <div fxFlex>
                  <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="10px">
                    <mat-form-field fxFlex="calc(50%-10px)">
                        <input matInput placeholder="Email 1" [(ngModel)]="item.email_1" name="email_1" required>
                    </mat-form-field>
                    <mat-form-field fxFlex="calc(50%-10px)">
                        <input matInput placeholder="Email 2" [(ngModel)]="item.email_2" name="email_2">
                    </mat-form-field>

                    <mat-form-field fxFlex="calc(50%-10px)">
                        <input matInput placeholder="Telefone 1" [(ngModel)]="item.phone_1" name="phone_1" required>
                    </mat-form-field>
                    <mat-form-field fxFlex="calc(50%-10px)">
                        <input matInput placeholder="Telefone 2" [(ngModel)]="item.phone_2" name="phone_2">
                    </mat-form-field>
                                          
                  </div>
                </div>
              </div>
              <!-- CONTACT END -->

              <!-- SOCIAL START -->
              <mat-card-title-group>
                <mat-card-subtitle>Redes Sociais</mat-card-subtitle>
              </mat-card-title-group>                
              <div fxLayout="row" fxFlexFill>
                <div fxFlex="40px" fxHide.lt-md="true">
                  <p><mat-icon>link</mat-icon></p>
                </div>
                <div fxFlex>
                  <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="10px">
                    <mat-form-field fxFlex="calc(50%-10px)">
                      <input matInput placeholder="Site" [(ngModel)]="item.website" name="website">
                    </mat-form-field>                                                                  
                    <mat-form-field fxFlex="calc(50%-10px)">
                      <input matInput placeholder="Facebook" [(ngModel)]="item.facebook" name="facebook">
                    </mat-form-field>                                                                  
                    <mat-form-field fxFlex="calc(50%-10px)">
                      <input matInput placeholder="Twitter" [(ngModel)]="item.twitter" name="twitter">
                    </mat-form-field>                                                                  
                    <mat-form-field fxFlex="calc(50%-10px)">
                      <input matInput placeholder="Instagram" [(ngModel)]="item.instagram" name="instagram">
                    </mat-form-field>                                                                  
                  </div>
                </div>
              </div>
              <!-- SOCIAL END -->

            </form>
            <!-- EDIT FORM END -->
          </mat-card-content>

          <!-- FORM ACTIONS START -->
          <mat-card-actions fxLayoutAlign="end">
            <button mat-button (click)="cancelForm()">CANCELAR</button>
            <button mat-button (click)="submitForm(item)" [disabled]="!itemForm.form.valid" color="primary">SALVAR</button>
          </mat-card-actions>
          <!-- FORM ACTIONS END -->
        </mat-card>
      </div>
    </div>
    <!-- CONTENT END -->    

    <div [fxHide.lt-md]="true"> </div>
  </div>
</div>