<!-- LOADERS START -->
<div fxLayout="column" fxFlexFill fxLayoutAlign="center center" *ngIf="loading && !submitted">
  <mat-progress-spinner mode="indeterminate" diameter="30" strokeWidth="4"></mat-progress-spinner>
</div>
<!-- LOADERS END -->

<div fxLayout="row" fxLayoutAlign="center start" ngClass.gt-sm="padding" class="mat-typography">
  <div fxLayout="column" fxFlex="85" fxFlex.lt-md="100" fxLayoutGap="10px" *ngIf="!loading || submitted">

    <!-- BACK AND TITLE START -->
    <div ngClass.lt-md="padding no-padding-bottom">
      <div fxLayoutAlign="space-between center" fxLayout="row">
        <h3 fxLayout="row" fxLayoutAlign="start center" class="no-margin-bottom">
            <button mat-icon-button (click)="goBack()" matTooltip="Voltar"><mat-icon>arrow_back</mat-icon></button> Produto Detalhes
        </h3>
        <div>
          <button mat-icon-button [routerLink]="['/company', item.company_id, 'product', item.id, 'edit']" matTooltip="Editar"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button (click)="deleteConfirm(item)" matTooltip="Excluir"> <mat-icon>delete</mat-icon></button>
        </div> 
      </div>
    </div>
    <!--BACK AND TITLE END -->  

    <!-- CONTENT START -->
      <div ngClass.gt-sm="mat-elevation-z1 rounded-border">
        <mat-card>
          <mat-card-content fxLayout="column" fxLayoutGap="10px">
            <!-- LABELS START -->
            <mat-card-title-group>
              <mat-card-subtitle>Informações</mat-card-subtitle>
            </mat-card-title-group>
            <div fxLayout="row" fxFlexFill fxLayoutGap="10px">
              <div fxFlex="40px" fxHide.lt-md="true">
                <p><mat-icon>info_outline</mat-icon></p>
              </div>
              <div fxFlex>
                <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap.lt-md="10px">
                  <div fxLayout="row" fxFlex fxFlex.gt-sm="50">
                      <div fxFlex="120px"><p>Nome: </p></div>
                    <div fxFlex><p>{{item.name}}</p></div>
                  </div>
                  <div fxLayout="row" fxFlex fxFlex.gt-sm="50">
                    <div fxFlex="120px"><p>Categoria: </p></div>
                    <div fxFlex><p>{{item.category?.data.id}} - {{item.category?.data.name}}</p></div>
                  </div>
                  <div fxLayout="row" fxFlexFill>
                    <div fxFlex="120px"><p>Descrição: </p></div>
                    <div fxFlex><p>{{item.description}}</p></div>
                  </div>
                </div>
              </div>

            </div>
            <!-- LABELS END -->
          </mat-card-content>
        </mat-card>
      </div>
    <!-- CONTENT END -->    

    <div [fxHide.lt-md]="true"> </div>
  </div>
</div>