<!-- LOADERS START -->
<div fxLayout="column" fxFlexFill fxLayoutAlign="center center" *ngIf="loading.get && !submitted">
  <mat-progress-spinner mode="indeterminate" diameter="30" strokeWidth="4"></mat-progress-spinner>
</div>
<!-- LOADERS END -->

<div fxLayout="row" fxLayoutAlign="center start" ngClass.gt-sm="padding" class="mat-typography">
  <div fxLayout="column" fxFlex="85" fxFlex.lt-md="100" fxLayoutGap="10px" *ngIf="!loading.get || submitted">

    <!-- BACK AND TITLE START -->
    <div ngClass.lt-md="padding no-padding-bottom">
      <div fxLayoutAlign="space-between center" fxLayout="row">
        <h3 fxLayout="row" fxLayoutAlign="start center" class="no-margin-bottom">
            <button mat-icon-button (click)="goBack()" matTooltip="Voltar"><mat-icon>arrow_back</mat-icon></button> Cardápio Detalhes
        </h3>
        <div>
          <button mat-icon-button [routerLink]="['/company', item.company_id, 'menu', item.id, 'edit']" matTooltip="Editar"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button (click)="deleteConfirm(item)" matTooltip="Excluir"> <mat-icon>delete</mat-icon></button>
        </div> 
      </div>
    </div>
    <!--BACK AND TITLE END -->  

    <!-- CONTENT START -->
    
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-tab-group class="flex width-padding">
        <!-- MENU TAB START ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>restaurant</mat-icon> Cardápio
          </ng-template>
          <mat-card>
            <mat-card-content fxLayout="column" fxLayoutGap="10px">
              <!-- MENU TAB CONTENT START -->
              <mat-card-title-group>
                <mat-card-subtitle>Informações</mat-card-subtitle>
              </mat-card-title-group>
              <div fxLayout="row" fxFlexFill fxLayoutGap="10px">
                <div fxFlex="40px" fxHide.lt-md="true">
                  <p><mat-icon>info_outline</mat-icon></p>
                </div>
                <div fxFlex>
                  <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap.lt-md="10px">
                    <div fxLayout="row" fxFlex fxFlex.gt-sm="50">
                        <div fxFlex="120px"><p>Nome: </p></div>
                      <div fxFlex><p>{{item.name}}</p></div>
                    </div>
                    <div fxLayout="row" fxFlexFill>
                      <div fxFlex="120px"><p>Descrição: </p></div>
                      <div fxFlex><p>{{item.description}}</p></div>
                    </div>
                  </div>
                </div>
              </div>

              <mat-card-title-group>
                <mat-card-subtitle>Horários</mat-card-subtitle>
              </mat-card-title-group>
              <div fxLayout="row" fxFlexFill fxLayoutGap="10px">
                <div fxFlex="40px" fxHide.lt-md="true">
                  <p><mat-icon>schedule</mat-icon></p>
                </div>
                <div fxFlex>
                  <mat-table #timeTable [dataSource]="timeDataSource">            
                    <!-- Name Column -->
                    <ng-container matColumnDef="day">
                      <mat-header-cell *matHeaderCellDef> Dia </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                    </ng-container>
  
                    <!-- Category id Column -->
                    <ng-container matColumnDef="time_start">
                      <mat-header-cell *matHeaderCellDef> Início </mat-header-cell>
                      <mat-cell *matCellDef="let row"> 
                          <p> {{(row.time_start | slice:0:5) || '-'}} </p>
                      </mat-cell>
                    </ng-container>
  
                    <!-- Category name Column -->
                    <ng-container matColumnDef="time_end">
                      <mat-header-cell *matHeaderCellDef> Fim </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <p> {{(row.time_end | slice:0:5) || '-'}} </p>
                      </mat-cell>
                    </ng-container>
  
                    <!-- HEADERS AND ROWS -->
                    <mat-header-row *matHeaderRowDef="timeColumns"  style="display: none"></mat-header-row>
                    <mat-row class="hover-parent pointer" *matRowDef="let row; columns: timeColumns;"></mat-row>
                  </mat-table>
  
                </div>
              </div>
              <!-- MENU TAB CONTENT END -->
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <!-- MENU TAB END ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

        <!-- PRODUCT TAB START ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>shopping_cart</mat-icon> Produtos
          </ng-template>
          <mat-card>
            <mat-card-content fxLayout="column" fxLayoutGap="10px">
              <!-- PRODUCT TAB CONTENT START -->
              <!-- FILTER START -->
              <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign="space-between" [@vfold]>
                <mat-form-field fxFlex>
                  <input matInput placeholder="ID" [(ngModel)]="productFilter.id" name="productFilter.id" (keyup)="applyFilter(productDataSource, productDataSourceCopy, productFilter)">
                </mat-form-field>
              
                <mat-form-field fxFlex>
                  <input matInput placeholder="Nome" [(ngModel)]="productFilter.name" name="productFilter.name" (keyup)="applyFilter(productDataSource, productDataSourceCopy, productFilter)">
                </mat-form-field>
              
                <mat-form-field fxFlex>
                  <mat-select placeholder="Categoria" [(ngModel)]="productFilter.category_id" name="productFilter.category_id" (change)="applyFilter(productDataSource, productDataSourceCopy, productFilter)">
                    <mat-option>-</mat-option>
                    <mat-option *ngFor="let category of categoryList" [value]="category.id">
                      {{ category.id }} - {{ category.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>     
            
              </div>
              <!-- FILTER END -->
              <!-- LOADERS START -->
              <div *ngIf="loading.product" fxLayout="column" fxFlexFill fxLayoutAlign="center center">
                <mat-progress-spinner mode="indeterminate" diameter="30" strokeWidth="4"></mat-progress-spinner>
              </div>
              <div fxFlex fxLayout="column" fxLayoutAlign="center center" *ngIf="productDataSource.data.length == 0">
                <mat-icon class="medium">help_outline</mat-icon>
                <h3>Nenhum resultado encontrado.</h3>
              </div>
              <!-- LOADERS END -->
  
              <!-- LIST START -->
              <div [ngClass]="{'hide': productDataSource.data.length == 0}">
                <mat-table #table [dataSource]="productDataSource" 
                  matSort matSortActive="id" matSortDirection="desc">
                  <!-- ID Column -->
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="60px"> ID </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="60px"> {{row.id}} </mat-cell>
                  </ng-container>
        
                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex fxFlex.lt-md="300px"> Nome </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex fxFlex.lt-md="300px"> {{row.name}} </mat-cell>
                  </ng-container>
        
                  <!-- Category id Column -->
                  <ng-container matColumnDef="category_id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="100px"> ID categoria </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="100px"> {{ row.category_id || null }} </mat-cell>
                  </ng-container>
        
                  <!-- Category name Column -->
                  <ng-container matColumnDef="category.data.name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex fxFlex.lt-md="200px" > Nome categoria </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex fxFlex.lt-md="200px" > {{ row.category.data.name || null }} </mat-cell>
                  </ng-container>

                  <!-- Price Column -->
                  <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex fxFlex.lt-md="100px"> Preço </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex fxFlex.lt-md="100px"> 
                      <p>R$ {{row.price}}</p>
                    </mat-cell>
                  </ng-container>
        
                  <!-- HEADERS AND ROWS -->
                  <mat-header-row *matHeaderRowDef="productColumns" style="display: none"></mat-header-row>
                  <mat-row class="hover-parent pointer" *matRowDef="let row; columns: productColumns;" (click)="goDetails(row.company_id, row.id)"></mat-row>
                </mat-table>
              
                <mat-paginator [length]="productTotal" [pageSize]="20" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>
              <!-- LIST END --> 
              <!-- PRODUCT TAB CONTENT END -->
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <!-- PRODUCT TAB END ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

        <!-- BRANCH TAB START ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>store</mat-icon> Filiais
          </ng-template>
          <mat-card>
            <mat-card-content fxLayout="column" fxLayoutGap="10px">
              <!-- BRANCH TAB CONTENT START -->
              <!-- FILTER START -->
              <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign="space-between" [@vfold]>
                <mat-form-field fxFlex>
                  <input matInput placeholder="ID" [(ngModel)]="branchFilter.id" name="branchFilter.id" (keyup)="applyFilter(branchDataSource, branchDataSourceCopy, branchFilter)">
                </mat-form-field>
              
                <mat-form-field fxFlex>
                  <input matInput placeholder="Endereço" [(ngModel)]="branchFilter.address" name="branchFilter.address" (keyup)="applyFilter(branchDataSource, branchDataSourceCopy, branchFilter)">
                </mat-form-field>            
              </div>
              <!-- FILTER END -->
              <!-- LOADERS START -->
              <div *ngIf="loading.branch" fxLayout="column" fxFlexFill fxLayoutAlign="center center">
                <mat-progress-spinner mode="indeterminate" diameter="30" strokeWidth="4"></mat-progress-spinner>
              </div>
              <div fxFlex fxLayout="column" fxLayoutAlign="center center" *ngIf="branchDataSource.data.length == 0">
                <mat-icon class="medium">help_outline</mat-icon>
                <h3>Nenhum resultado encontrado.</h3>
              </div>
              <!-- LOADERS END -->
  
              <!-- LIST START -->
              <div [ngClass]="{'hide': branchDataSource.data.length == 0}">
                <mat-table #table [dataSource]="branchDataSource" 
                  matSort matSortActive="id" matSortDirection="desc">
                  <!-- ID Column -->
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="60px"> ID </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="60px"> {{row.id}} </mat-cell>
                  </ng-container>
        
                  <!-- Address Column -->
                  <ng-container matColumnDef="address">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex fxFlex.lt-md="300px"> Endereço </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex fxFlex.lt-md="300px"> {{row.address}} </mat-cell>
                  </ng-container>

                  <!-- City Column -->
                  <ng-container matColumnDef="city">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex fxFlex.lt-md="300px"> Cidade </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex fxFlex.lt-md="300px"> {{row.city}} </mat-cell>
                  </ng-container>

                  <!-- State Column -->
                  <ng-container matColumnDef="state">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex fxFlex.lt-md="100px"> Estado </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex fxFlex.lt-md="100px"> {{row.state}} </mat-cell>
                  </ng-container>

                  <!-- Phone Column -->
                  <ng-container matColumnDef="phone_1">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex fxFlex.lt-md="100px"> Telefone </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex fxFlex.lt-md="100px"> {{row.phone_1}} </mat-cell>
                  </ng-container>
        
                  <!-- HEADERS AND ROWS -->
                  <mat-header-row *matHeaderRowDef="branchColumns" style="display: none"></mat-header-row>
                  <mat-row class="hover-parent pointer" *matRowDef="let row; columns: branchColumns;" (click)="goDetails(row.company_id, row.id)"></mat-row>
                </mat-table>
              
                <mat-paginator [length]="branchTotal" [pageSize]="20" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>
              <!-- LIST END --> 
              <!-- PRODUCT TAB CONTENT END -->
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <!-- BRANCH TAB END ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      </mat-tab-group>
    </div>  
    <!-- CONTENT END -->    

    <div [fxHide.lt-md]="true"> </div>
  </div>
</div>