<mat-progress-bar style="position: absolute; top: 0" #progressBar *ngIf="progressBarVisible" color="accent" mode="query"></mat-progress-bar>

<!-- TOOLBAR START -->
<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="" class="pointer">Restaurante</span>
  <span class="space-center"></span>
  <span>
    <button mat-icon-button><mat-icon>notifications</mat-icon></button>
    <button mat-icon-button><mat-icon>account_circle</mat-icon></button>
  </span>
</mat-toolbar>
<!-- TOOLBAR END -->

<mat-sidenav-container style="z-index: 0">
  <!-- SIDE MENU START-->
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-list>
      <mat-list-item *ngFor="let menu of menus" class="button-menu" routerLink='{{menu.link}}'>
        <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>
        <h4 mat-line>{{menu.name}}</h4>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <!-- SIDE MENU END-->

  <!-- CONTENT START-->
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <!-- CONTENT END-->
</mat-sidenav-container>
  
  