<div *ngIf="loading && !submitted">
  <mat-progress-spinner mode="indeterminate" diameter="30" strokeWidth="4"></mat-progress-spinner>
</div>
  
<div class="container-flex flex-center" *ngIf="!loading || submitted">
  <!-- BACK AND TITLE START -->
  <div class="mat-typography container-flex header-page width-padding">
    <div class="flex-5"><button mat-icon-button (click)="goBack()" matTooltip="Voltar"><mat-icon>arrow_back</mat-icon></button></div>
    <div class="flex-95 text-title">{{title}}</div>
  </div>
  <!--BACK AND TITLE END -->  

  <mat-card class="flex content-page">
    <mat-card-content>
      <!-- CREATE AND EDIT FORM START -->
      <form #itemForm="ngForm">
        <mat-card-title-group>
          <mat-card-subtitle>Informações</mat-card-subtitle>
        </mat-card-title-group>
        <div class="container-flex margin-bottom">
          <div class="flex-5 align-top">
            <p><mat-icon>info_outline</mat-icon></p>
          </div>
          <div class="flex-95">
            <div class="container-flex">
              <div class="flex-10 margin-right">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Nome" [(ngModel)]="item.name" name="name" required>
                </mat-form-field>
              </div>
            </div>  
            <div class="container-flex">
              <div class="flex-10 margin-right">
                <mat-form-field class="full-width">
                  <textarea matInput placeholder="Descrição" [(ngModel)]="item.description" name="description"  matTextareaAutosize matAutosizeMinRows="1"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </form>
      <!-- EDIT FORM END -->
    </mat-card-content>

    <!-- FORM ACTIONS START -->
    <mat-card-actions class="text-right">
      <button mat-button (click)="cancelForm()">CANCELAR</button>
      <button mat-button (click)="submitForm(item)" [disabled]="!itemForm.form.valid" color="primary">SALVAR</button>
    </mat-card-actions>
    <!-- FORM ACTIONS END -->

  </mat-card>
</div>
  