<div class="container-flex" [ngClass]="{'flex-center': true}">
  <!-- BACK AND TITLE START -->
  <div class="mat-typography container-flex header-page content-page">
    <div class="flex-5"><button mat-icon-button><mat-icon>store</mat-icon></button></div>
    <div class="flex-65 text-title">Filiais</div>
    <div class="flex-30 text-right">
      <mat-form-field *ngIf="false">
        <mat-icon matSuffix>search</mat-icon>
        <input matInput placeholder="Pesquisar" [(ngModel)]="search" name="search" (keyup)="applyFilter()">
        <button mat-button *ngIf="search" matPrefix mat-icon-button aria-label="Clear" (click)="applyFilter(''); search=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-icon-button (click)="showFilter = !showFilter" matTooltip="Filtrar"><mat-icon>filter_list</mat-icon></button>
      <button mat-icon-button (click)="deleteConfirm(row)" matTooltip="Exportar"><mat-icon>share</mat-icon></button>
    </div>  
  </div>
  <!--BACK AND TITLE END -->

  <!-- FILTER START -->
  <div class="flex container-flex content-page margin-bottom" *ngIf="showFilter">
    <div class="flex-20 margin-right">
      <mat-form-field class="full-width">
        <input matInput placeholder="Endereço" [(ngModel)]="filter.address" name="filter.address" (keyup)="applyFilter()">
      </mat-form-field>
    </div>
    <div class="flex-20 margin-right">
      <mat-form-field class="full-width">
        <input matInput placeholder="Número" [(ngModel)]="filter.number" name="filter.number" (keyup)="applyFilter()">
      </mat-form-field>
    </div>
    <div class="flex-20 margin-right">
      <mat-form-field class="full-width">
        <input matInput placeholder="Cidade" [(ngModel)]="filter.city" name="filter.city" (keyup)="applyFilter()">
      </mat-form-field>
    </div>
    <div class="flex-20 margin-right">
      <mat-form-field class="full-width">
        <input matInput placeholder="UF" [(ngModel)]="filter.state" name="filter.state" (keyup)="applyFilter()">
      </mat-form-field>
    </div>
    <div class="flex-20 margin-right">
      <mat-form-field class="full-width">
        <input matInput placeholder="Telefone" [(ngModel)]="filter.phone_1" name="filter.phone_1" (keyup)="applyFilter()">
      </mat-form-field>
    </div>
  </div>
  <!-- FILTER END -->

  <!-- LOADERS START -->
  <div class="full-width" *ngIf="dataSource.data.length == 0 && loading">
    <mat-progress-spinner mode="indeterminate" diameter="30" strokeWidth="4"></mat-progress-spinner>
  </div>
  
  <div *ngIf="dataSource.data.length == 0 && !loading" class="full-width container-flex content-page flex-center margin-bottom width-padding">
    <div class="text-center flex-center mat-typography">
      <mat-icon class="big">help_outline</mat-icon>
      <h3>Nenhum resultado encontrado.</h3>
    </div>
  </div>
  <!-- LOADERS END -->

  <!-- LIST START -->
  <div class="flex content-page" [ngClass]="{'hide': dataSource.data.length == 0}">
    <div class="flex full-width mat-elevation-z4">
      <div style="display: none" class="loading-shade full-width" *ngIf="(loadingResults || timeout)">
        <mat-spinner *ngIf="loadingResults" mode="indeterminate" diameter="40" strokeWidth="5" style="padding: 0"></mat-spinner>
        <div *ngIf="timeout" class="mat-typography text-center">
          <div><mat-icon style="font-size: 50px">sync_problem</mat-icon></div>
          <div>Não foi possível executar a ação. Tente novamente mais tarde.</div>
        </div>
      </div>
    
      <mat-table #table [dataSource]="dataSource" class="example-table"
        matSort matSortActive="id" matSortDirection="desc">    
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="id-column"> ID </mat-header-cell>
          <mat-cell *matCellDef="let row" class="id-column" > {{row.id}} </mat-cell>
        </ng-container>
    
        <!-- Address Column -->
        <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Endereço </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.address}} </mat-cell>
        </ng-container>

        <!-- Number Column -->
        <ng-container matColumnDef="number">
          <mat-header-cell *matHeaderCellDef mat-sort-header  class="number-column"> Número </mat-header-cell>
          <mat-cell *matCellDef="let row"  class="number-column"> {{row.number}} </mat-cell>
        </ng-container>
    
        <!-- City Column -->
        <ng-container matColumnDef="city">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Cidade </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.city}} </mat-cell>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="state">
          <mat-header-cell *matHeaderCellDef mat-sort-header> UF </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.state}} </mat-cell>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone_1">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Telefone </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.phone_1}} </mat-cell>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="actions-column"></mat-header-cell>
          <mat-cell *matCellDef="let row" class="hover-child actions-column">
            <button mat-icon-button [routerLink]="[row.id, 'edit']" matTooltip="Editar"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click)="deleteConfirm(row)" matTooltip="Excluir"><mat-icon>delete</mat-icon></button>
          </mat-cell>
        </ng-container>

        <!-- HEADERS AND ROWS -->
        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row class="hover-parent pointer" *matRowDef="let row; columns: columns;" (click)="goDetails(row.company_id, row.id)"></mat-row>
      </mat-table>
    
      <mat-paginator [length]="total" [pageSize]="20" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
  <!-- LIST END -->

  <div class="fab-position">
    <button mat-fab [routerLink]="['new']" matTooltip="Novo" matTooltipPosition="left"><mat-icon>add</mat-icon></button>
  </div>
</div>
